<div>

    <h3>Chat</h3>

        <p><input id="iduser" type="text" placeholder="Ingrese email"></p>    
        <p><input id="idmessage" type="text" placeholder="Ingrese message"></p>    

        <p><button onclick="Enviar();">Enviar</button></p>
        <p><button onclick="Cancelar();">Cancelar</button></p>

</div>

<div id="mostrarchat"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js" integrity="sha512-rwu37NnL8piEGiFhe2c5j4GahN+gFsIn9k/0hkRY44iz0pc81tBNaUN56qF8X4fy+5pgAAgYi2C9FXdetne5sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="js/chat.js"></script>
